.input-fields-register {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background-color: #ffffff;
}
.outer-container-register {
    display: flex;
    justify-content: center;
}
.inner-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/banner_yellow-users.png");
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 440px;
    margin-top: 50px;
    border: 5px solid #ffffff;
}

#details-email {
    width: 200px;
    border: 1px solid lightgrey;
    font-family: "Roboto", cursive;
    font-size: 12px;
    margin-top: 5px;
}
#details-confirmPassword {
    width: 200px;
    border: 1px solid lightgrey;
    font-family: "Roboto", cursive;
    font-size: 12px;
    margin-top: 5px;
}

.input-column {
    display: flex;
    flex-direction: column;
}

.user-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}
.user-title {
    font-family: "Roboto Condensed",cursive;
    font-size: 20px;
}

p.error {
    font-family: "Roboto Condensed",cursive;
    font-size: 12px;
    margin-top: 2px;
    color: red;
}
.button-container-user {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .inner-container-register {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../assets/banner_yellow-users.png");
        background-position: center;
        background-size: cover;
        width: 600px;
        height: 440px;
        margin-top: 50px;
        border: 5px solid #ffffff;
    }
    .user-title {
        font-family: "Roboto Condensed",cursive;
        font-size: 22px;
    }

    p.error {
        font-family: "Roboto Condensed",cursive;
        font-size: 12px;
        margin-top: 2px;
        color: red;
    }
    #details-email {
        width: 200px;
        border: 1px solid lightgrey;
        font-family: "Roboto", cursive;
        font-size: 13px;
        margin-top: 5px;
    }
    #details-confirmPassword {
        width: 200px;
        border: 1px solid lightgrey;
        font-family: "Roboto", cursive;
        font-size: 13px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 992px) {
    .inner-container-register {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../assets/banner_yellow-users.png");
        background-position: center;
        background-size: cover;
        width: 800px;
        height: 440px;
        margin-top: 50px;
        border: 5px solid #ffffff;
    }
    .user-title {
        font-family: "Roboto Condensed",cursive;
        font-size: 24px;
    }
    p.error {
        font-family: "Roboto Condensed",cursive;
        font-size: 12px;
        margin-top: 2px;
        color: red;
    }
    #details-email {
        width: 200px;
        border: 1px solid lightgrey;
        font-family: "Roboto", cursive;
        font-size: 14px;
        margin-top: 5px;
    }
    #details-confirmPassword {
        width: 200px;
        border: 1px solid lightgrey;
        font-family: "Roboto", cursive;
        font-size: 14px;
        margin-top: 5px;
    }
}