.gender-image {
    width: 250px;
    margin: 0 20px;
}
.container-appearance-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-container-gender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    margin-top: 80px;
}

.inner-container-gender {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    justify-content: center;
    align-items: center;
}

.question-quiz {
    color: white;
    font-family: Neucha,cursive;
    font-size: 18px;
    padding: 10px;
}

.container-question {
    background-color: hsl(185, 60%, 67%);
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.progress-bar {
    width: 80px;
}

.container-progress-bar {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-radius: 15px;
    justify-content: flex-start;
    background-image: url("../../assets/yellow-speedline.jpg");
    background-size: 80px;
    background-repeat: no-repeat;
    align-items: flex-start;
    background-color: white;
    border: 5px solid white;
}

.hair {
    height: 200px;
}

.container-quiz {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 800px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 25px;
    padding-bottom: 20px;
}

.question-text {
    font-family: Neucha, cursive;
    font-size: 20px;
    color: #14363C;
    margin: 20px 0;
}

.outer-container-title {
    color:  hsl(189, 50%, 16%);
    display: flex;
    flex-direction: row;
    flex-basis: 20px;
    justify-content: flex-end;
    align-items: flex-end;
}

.inner-container-quiz {
    width: 800px;
    height: 50px;
    background-color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /*flex-basis: 550px;*/
    /*width: 450px;*/
    /*font-family: "Roboto Condensed",cursive;*/
    /*font-size: 18px;*/
    /*color: #ffffff;*/
}

.shadow-box-quiz {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    margin-top: 20px;
}

.button-banner-quiz {
    background-color: #14363C;
    color: white;
    font-family: "Roboto Condensed", cursive;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
}

.button-container-quiz {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}