
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}
.image-character {
    height: 200px;
    width: 100px;
    border-radius: 5px;
}

.character-container {
    display: flex;
    flex-direction: row;
}

.character-list {
    background-image: url("../../assets/blue-character-banner-no-shadow.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 5px;
    padding: 15px 15px 15px 15px;
    position: relative;
}

.character-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    padding: 0 10px 0 10px;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow-dc {
    position: absolute;
    top: 100%;
    left: 20px;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow-dc {
    position: absolute;
    top: 100%;
    right: 20px;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.icon {
    width: 50px;
    height: 50px;
}