@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.main-header {
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: flex-start;
    background-color: hsl(185, 60%, 67%);
    color:  hsl(189, 50%, 16%);
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-container-image {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.logo-superhero-vs-villains-nav {
    margin: 10px 0 10px 0;
    width: 200px;
    display: flex;
}

.outer-container-nav-links {
    background: rgba(255,255,255,0.5);
    color:  hsl(189, 50%, 16%);
    display: flex;
    flex-direction: row;
    flex-basis: 30px;
    justify-content: center;
    align-items: center;
}

.inner-container-nav-links{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.list-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 350px;
    width: 450px;
    margin: 0 10px 0 10px;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
    list-style-type: none;
    padding: 0;
}

a:hover {
    color:hsl(189, 50%, 35%);
}

a {
    font-size: 14px;
    color: hsl(189, 50%, 16%);
    border-bottom: hsl(189, 50%, 16%);
    text-decoration: none
}

.active-link {
    color: hsl(189, 50%, 16%);
    text-decoration: underline 2px solid hsl(0, 100%, 45%);
}


@media screen and (min-width: 768px) {
    a {
        font-size: 16px;
        color: hsl(189, 50%, 16%);
        border-bottom: hsl(189, 50%, 16%);
        text-decoration: none
    }
    .active-link {
        color: hsl(189, 50%, 16%);
        text-decoration: underline 3px solid hsl(0, 100%, 45%);
    }
    .list-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 450px;
        width: 450px;
        margin: 0 10px 0 10px;
        font-family: 'Neucha', cursive;
        font-weight: bolder;
        list-style-type: none;
        padding: 0;
    }
    .logo-superhero-vs-villains-nav {
        margin: 10px 0 10px 0;
        width: 225px;
        display: flex;
    }
    .main-header {
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: flex-start;
        background-color: hsl(185, 60%, 67%);
        color:  hsl(189, 50%, 16%);
    }
}

@media screen and (min-width: 992px) {
    a {
        font-size: 18px;
        color: hsl(189, 50%, 16%);
        border-bottom: hsl(189, 50%, 16%);
        text-decoration: none
    }
    .active-link {
        color: hsl(189, 50%, 16%);
        text-decoration: underline 4px solid hsl(0, 100%, 45%);
    }
    .list-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 550px;
        width: 450px;
        margin: 0 10px 0 10px;
        font-family: 'Neucha', cursive;
        font-weight: bolder;
        list-style-type: none;
        padding: 0;
    }
    .logo-superhero-vs-villains-nav {
        margin: 10px 0 10px 0;
        width: 250px;
        display: flex;
    }
    .main-header {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: flex-start;
        background-color: hsl(185, 60%, 67%);
        color:  hsl(189, 50%, 16%);
    }
}
