.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: hsl(185, 60%, 67%);
    color: white;
    margin-top: 60px;
}
.outer-container-title {
    background: rgba(255,255,255,0.5);
    margin-top: 20px;
    color:  hsl(189, 50%, 16%);
    display: flex;
    flex-direction: row;
    flex-basis: 20px;
    justify-content: flex-end;
    align-items: flex-end;
}
.inner-container-title {
    width: 600px;
    justify-content: space-around;
}
.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 550px;
    width: 450px;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
    font-size: 14px;
    list-style-type: none;
    padding: 0;
}
.outer-container-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.inner-container-links {
    width: 600px;
}
.list-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 450px;
    padding-top: 10px;
}
.list-not-styled {
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
    color: white;
    list-style-type: none
}
.arrow-forward {
    width: 11px;
    height: 11px;
}
.list-items {
    color: white;
    padding: 10px;
    font-size: 12px;
    font-family: "Roboto Condensed",cursive;
}
.list-links-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-superhero-vs-villains {
    margin-bottom: 20px;
    width: 200px;
    display: flex;
}

@media screen and (min-width: 768px) {
    .list-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 550px;
        width: 450px;
        font-family: 'Neucha', cursive;
        font-weight: bolder;
        font-size: 16px;
        list-style-type: none;
        padding: 0;
    }
    .list-items {
        color: white;
        padding: 10px;
        font-size: 14px;
        font-family: "Roboto Condensed",cursive;
    }
    .arrow-forward {
        width: 13px;
        height: 13px;
    }
    .logo-superhero-vs-villains {
        margin-bottom: 20px;
        width: 250px;
        display: flex;
    }
}


@media screen and (min-width: 992px) {
    .list-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 550px;
        width: 450px;
        font-family: 'Neucha', cursive;
        font-weight: bolder;
        font-size: 18px;
        list-style-type: none;
        padding: 0;
    }
    .list-items {
        color: white;
        padding: 10px;
        font-size: 16px;
        font-family: "Roboto Condensed",cursive;
    }
    .arrow-forward {
        width: 15px;
        height: 15px;
    }
    .logo-superhero-vs-villains {
        margin-bottom: 20px;
        width: 300px;
        display: flex;
    }
}