.inner-stats-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 35px 35px 10px 35px;
    padding: 15px;
    position: relative;
}
.image {
    width: 250px;
    height: 340px;
}
table {
    width: 250px;
    margin-top: 5px;
}
td{
    border: 1px solid lightgray;
    padding: 5px;
    font-family: "Roboto Condensed",cursive;
    color: hsl(189, 50%, 16%);
    font-size: 13px;
}
.data-center {
    display: flex;
    justify-content: center;
    font-family: Neucha, cursive;
    font-weight: bolder;
    color: hsl(189, 50%, 16%);
    font-size: 13px;
}
.outer-biography-container {
    display: flex;
    align-items: center;
}
.inner-biography-container {
    width: 350px;
    height: auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
}
.full-name {
    color: grey;
    font-family: "Roboto Condensed",cursive;
    font-size: 16px;
    margin: 1px;
}
.table-biography {
    width: 250px;
    margin-top: 20px;
}
.data-biography {
    font-family: Neucha, cursive;
    font-weight: bolder;
    color: hsl(189, 50%, 16%);
    font-size: 13px;
}

@media screen and (min-width: 768px) {
    .inner-stats-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 35px 20px 10px 20px;
        padding: 15px;
        position: relative;
    }
    .image {
        width: 250px;
        height: 340px;
    }
    table {
        width: 250px;
        margin-top: 5px;
    }
    td{
        border: 1px solid lightgray;
        padding: 5px;
        font-family: "Roboto Condensed",cursive;
        color: hsl(189, 50%, 16%);
        font-size: 14px;
    }
    .data-center {
        display: flex;
        justify-content: center;
        font-family: Neucha, cursive;
        font-weight: bolder;
        color: hsl(189, 50%, 16%);
        font-size: 14px;
    }
    .outer-biography-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .inner-biography-container {
        width: 350px;
        height: auto;
        margin-bottom: 15px;
        padding: 20px;
        background-color: white;
    }
    .full-name {
        color: grey;
        font-family: "Roboto Condensed",cursive;
        font-size: 16px;
        margin: 1px;
    }
    .table-biography {
        width: 250px;
        margin-top: 20px;
    }
    .data-biography {
        font-family: Neucha, cursive;
        font-weight: bolder;
        color: hsl(189, 50%, 16%);
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .inner-stats-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 650px;
        margin: 0 20px;
        padding: 15px;
        position: relative;
    }
    .image {
        width: 250px;
        height: 340px;
    }
    table {
        width: 250px;
        margin-top: 5px;
    }
    td{
        border: 1px solid lightgray;
        padding: 5px;
        font-family: "Roboto Condensed",cursive;
        color: hsl(189, 50%, 16%);
    }
    .data-center {
        display: flex;
        justify-content: center;
        font-family: Neucha, cursive;
        font-weight: bolder;
        color: hsl(189, 50%, 16%);
        font-size: 15px;
    }
    .outer-biography-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .inner-biography-container {
        width: 500px;
        height: 650px;
        padding: 20px;
        margin: 0;
        background-color: white;
    }
    .full-name {
        color: grey;
        font-family: "Roboto Condensed",cursive;
        font-size: 16px;
        margin: 1px;
    }
    .table-biography {
        width: 450px;
        margin-top: 20px;
    }
    .data-biography {
        font-family: Neucha, cursive;
        font-weight: bolder;
        color: hsl(189, 50%, 16%);
    }
}